@if (TempData["success"] != null)
{
    <div class="alert alert-success" id="notification">
        @TempData["success"]
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger notification">
        @TempData["error"]
    </div>
}

<script>
    // Function to hide notifications after a certain time
    function hideNotifications() {
        setTimeout(function () {
            $('#notification').fadeOut('slow');
        }, 5000); // 5 seconds
    }

    // Call the function when the page is loaded
    $(document).ready(function () {
        hideNotifications();
    });
</script>