@model WebsiteThietBiDienTu.Models.Khachhang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mx-auto">Chi tiết khách hàng</h1>

<div class="mx-auto">
    <h4>Khách hàng</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên khách hàng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
           Điện thoại
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a  class="btn btn-outline-primary" asp-action="Index">Trở về trang chủ</a>
</div>
