@model WebsiteThietBiDienTu.Models.Danhmuc

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mx-auto">Thêm danh mục</h1>

<h4 class="mx-auto">Danh mục</h4>
<hr />
<div class="row mx-auto">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Tên danh mục</label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mx-auto">
    <a asp-action="Index">Trở về trang chủ</a>
</div>

