@model WebsiteThietBiDienTu.Models.Danhmuc

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa danh mục</h1>

<h3>Bạn có muốn xóa danh mục này không?</h3>
<div>
    <h4 class="mx-auto">Danh mục</h4>
    <hr />
    <dl class="row mx-auto">
        <dt class = "col-sm-2">
            Tên danh mục
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="mx-auto">
        <input type="hidden" asp-for="MaDm" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về trang chính</a>
    </form>
</div>
