@model IEnumerable<WebsiteThietBiDienTu.Models.Danhmuc>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">DANH MỤC</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DANH MỤC SẢN PHẨM</h6>
        </div>

        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered">
                    <a class="btn btn-outline-primary" asp-action="Create" asp-controller="Danhmucs">Thêm Danh Mục</a>
                    <thead>
                        <tr>
                            <th>Tên Danh Mục</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Ten)</td>                              
                                <td>
                                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.MaDm">Sửa</a>
                                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.MaDm">Chi Tiết</a>
                                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.MaDm">Xóa</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>