@model WebsiteThietBiDienTu.Models.Hoadon;
@{
    ViewData["Title"] = "Đặt hàng thành công";

}
<div class="text-center">QUÝ KHÁCH ĐÃ MUA THÀNH CÔNG ĐƠN HÀNG</div>

<h4 class="text-center">Đơn hàng có mã @Model.MaHd trị giá @Model.TongTien đã được hệ thống ghi nhận. Chúng tôi sẽ sớm liên hệ với bạn...</h4>


