<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <blockquote class="py-2">Thông tin liên hệ: </blockquote>
            <blockquote class="py-md-2">
                <strong>
                    <span style="font-size:120%;">MOBIFONE TỈNH AN GIANG&nbsp;</span>
                </strong>
            </blockquote>
            <blockquote class="py-md-2">Số 93 Trần Hưng Đạo Phường Mỹ Qúy Thành Phố Long Xuyên Tỉnh An Giang</blockquote>
            <blockquote class="py-md-2">Hotline: 077 924 9999</blockquote>
        </div>

        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3924.7127029572684!2d105.44929889246066!3d10.3648409374914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zU-G7kSA5MyBUcuG6p24gSMawbmcgIMSQ4bqhbyBQLk3hu7kgUcO6eSBUcC5Mb25nIFh1ecOqbiBULkFuIEdpYW5n!5e0!3m2!1svi!2s!4v1684899746462!5m2!1svi!2s" width="500" height="450" style="border:0" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <div class="row"></div>

    <table class="table">
        <thead>
            <tr>
                <th>TÊN CỬA HÀNG</th>
                <th>ĐỊA CHỈ CỬA HÀNG</th>
            </tr>
        </thead>

        <tbody>
            <tr class="text-dark">
                <td>Cửa Hàng Liên Kết MobiFone TT Chợ Mới</td>
                <td><a class="text-decoration-none" href="https://goo.gl/maps/MD3aFU1DeNvf6i6v7?coh=178573&amp;entry=tt" data-type="URL" data-id="https://goo.gl/maps/MD3aFU1DeNvf6i6v7?coh=178573&amp;entry=tt" target="_blank" rel="noreferrer noopener">65, Tỉnh Lộ 942, Thị Trấn Chợ Mới, Huyện Chợ Mới, Tỉnh An Giang</a></td>
            </tr>
            <tr class="text-dark">
                <td>Cửa hàng Liên Kết MobiFone Bình Mỹ</td>
                <td><a  class="text-decoration-none" href="https://goo.gl/maps/VcmuNQZPQAFD4zts9?coh=178573&amp;entry=tt" data-type="URL" data-id="https://goo.gl/maps/VcmuNQZPQAFD4zts9?coh=178573&amp;entry=tt" target="_blank" rel="noreferrer noopener">Hữu Phước 3 QL 91, Ấp Bình Hưng 1, Bình Mỹ, Châu Phú, An Giang</a></td>
            </tr>
            <tr class="text-dark">
                <td>Điểm Giao Dịch Tp.Long Xuyên</td>
                <td><a class="text-decoration-none" href="https://goo.gl/maps/MEbme5qp3bvSRQSw7?coh=178573&amp;entry=tt" data-type="URL" data-id="https://goo.gl/maps/MEbme5qp3bvSRQSw7?coh=178573&amp;entry=tt" target="_blank" rel="noreferrer noopener">106 Trần Hưng Đạo, P. Mỹ Bình, Tp. Long Xuyên, An Giang</a></td>
            </tr>
            <tr class="text-dark">
                <td>Điểm Giao Dịch MobiFone Tịnh Biên</td>
                <td><a class="text-decoration-none" href="https://goo.gl/maps/3fj2FGWDG2kJzJGP7?coh=178573&amp;entry=tt" target="_blank" rel="noreferrer noopener">301 Đường Trà Sư, Khóm Thới Hòa, Thị Trấn Nhà Bàng, H.Tịnh Biên, T. An Giang</a></td>
            </tr>
            <tr class="text-dark">
                <td>Điểm Giao Dịch MobiFone An Phú</td>
                <td><a class="text-decoration-none" href="https://goo.gl/maps/KMPTKKsBKzvxWuzZ9?coh=178573&amp;entry=tt" data-type="URL" data-id="https://goo.gl/maps/KMPTKKsBKzvxWuzZ9?coh=178573&amp;entry=tt" target="_blank" rel="noreferrer noopener">25 Đường Nguyễn Hữu Cảnh, ấp An Thịnh, TT. An Phú, H.An Phú, T. An Giang</a></td>
            </tr>
            <tr class="text-dark">
                <td>Điểm Giao Dịch MobiFone Tân Châu</td>
                <td><a class="text-decoration-none" href="https://goo.gl/maps/suDjC6Pdapw2bfRW9" data-type="URL" data-id="https://goo.gl/maps/suDjC6Pdapw2bfRW9" target="_blank" rel="noreferrer noopener">01 Nguyễn Công Nhàn, Long Hưng, Tân Châu, An Giang</a></td>
            </tr>
            <tr class="text-dark">
                <td>Điểm Giao Dịch MobiFone Châu Phú</td>
                <td><a class="text-decoration-none" href="https://goo.gl/maps/PPPw2ohWm5STFhzMA?coh=178573&amp;entry=tt" data-type="URL" data-id="https://goo.gl/maps/PPPw2ohWm5STFhzMA?coh=178573&amp;entry=tt" target="_blank" rel="noreferrer noopener">430 Quốc lộ 91, ấp Vĩnh Lộc, TT Cái Dầu, H Châu Phú, An Giang</a></td>
            </tr>
            <tr class="text-dark">
                <td>Điểm Giao Dịch MobiFone Phú Tân</td>
                <td><a class="text-decoration-none" href="https://goo.gl/maps/MD3aFU1DeNvf6i6v7?coh=178573&amp;entry=tt" data-type="URL" data-id="https://goo.gl/maps/MD3aFU1DeNvf6i6v7?coh=178573&amp;entry=tt" target="_blank" rel="noreferrer noopener">65, Tỉnh Lộ 942, Thị Trấn Chợ Mới, Huyện Chợ Mới, Tỉnh An Giang</a></td>
            </tr>
            <tr class="text-dark">
                <td>Điểm Giao Dịch MobiFone Chợ Mới</td>
                <td><a class="text-decoration-none" href="https://goo.gl/maps/PDD4SStKLx9WL7ST6" data-type="URL" data-id="https://goo.gl/maps/PDD4SStKLx9WL7ST6" target="_blank" rel="noreferrer noopener">167, Tỉnh lộ 942, Ấp thị 2, T.Trấn Mỹ Luông, Chợ Mới, An Giang</a></td>
            </tr>
            <tr class="text-dark">
                <td>Điểm Giao Dịch MobiFone Tri Tôn</td>
                <td><a class="text-decoration-none" href="https://goo.gl/maps/YyTcfdLHDutkttqQ8" data-type="URL" data-id="https://goo.gl/maps/YyTcfdLHDutkttqQ8" target="_blank" rel="noreferrer noopener">Số 16, Đường 3/2, khóm 5, thị trấn Tri Tôn, H.Tri Tôn, T. An Giang</a></td>
            </tr>
            <tr class="text-dark">
                <td>Điểm Giao Dịch MobiFone Thoại Sơn</td>
                <td><a class="text-decoration-none" href="https://goo.gl/maps/yu8YWvn41GQLNnRF9" data-type="URL" data-id="https://goo.gl/maps/yu8YWvn41GQLNnRF9" target="_blank" rel="noreferrer noopener">số 20, Lý Thường Kiệt, thị trấn Núi Sập, huyện Thoại Sơn, tỉnh An Giang</a></td>
            </tr>
            <tr class="text-dark">
                <td>Điểm Giao Dịch MobiFone Châu Thành</td>
                <td><a class="text-decoration-none" href="https://goo.gl/maps/2XgNax65e2Zpjvvy5" data-type="URL" data-id="https://goo.gl/maps/2XgNax65e2Zpjvvy5" target="_blank" rel="noreferrer noopener">383 QL91, ấp Hòa Long 1, TT An Châu, H Châu Thành, An Giang</aclass="text-decoration-none></td>
            </tr>
            <tr class="text-dark">
                <td>Cửa hàng MobiFone Long Xuyên</td>
                <td><a class="text-decoration-none" href="https://goo.gl/maps/LCk9QTPyU8U9fWJE7?coh=178573&amp;entry=tt" data-type="URL" data-id="https://goo.gl/maps/LCk9QTPyU8U9fWJE7?coh=178573&amp;entry=tt" target="_blank" rel="noreferrer noopener">93 Trần Hưng Đạo, P. Mỹ Qúy, TP. Long Xuyên, tỉnh An Giang</a></td>
            </tr>
            <tr class="text-dark">
                <td>Cửa hàng MobiFone Châu Đốc</td>
                <td><a class="text-decoration-none" href="https://goo.gl/maps/PweXSFfvT3X4oWEQA" data-type="URL" data-id="https://goo.gl/maps/PweXSFfvT3X4oWEQA" target="_blank" rel="noreferrer noopener">182-184, Đường Lê Lợi, Khóm. Châu Quới, P. Châu Phú B, Tp. Châu Đốc, tỉnh An Giang</a></td>
            </tr>
        </tbody>
    </table>
</div>
