@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>San pham quy khach vua chon da het hang.Vui long lua chon san pham khac</div>
