@model WebsiteThietBiDienTu.Models.Khachhang
@{
    ViewData["Title"] = "Login";
}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <div class="p-3 shadow">
            <h3 class="text-center text-info">Register</h3>
            <form asp-action="Register">
                <div class="my-3">
                    <label>Email</label>
                    <input type="text" name="email" class="form-control" />
                </div>
                <div class="my-3">
                    <label>Mat khau</label>
                    <input type="password" name="matkhau" class="form-control" />
                    <span asp-validation-for="MatKhau" class="text-danger"></span>
                </div>
                <div class="my-3">
                    <label>Họ tên</label>
                    <input type="text" name="hoten" class="form-control" required=""/>
                    <span asp-validation-for="Ten" class="text-danger"></span>
                    
                </div>
                <div class="my-3">
                    <label>Số điện thoại</label>22
                    <input type="text" name="dienthoai" class="form-control" />
                </div>
                <div class="my-3">
                    <label>Địa chỉ</label>
                    <input type="text" name="diachi" class="form-control" />
                </div>
                <div class="my-3">
                    <label>Phường/Xã</label>
                    <input type="text" name="phuongxa" class="form-control" />
                </div>
                <div class="my-3">
                    <label>Quận/Huyện</label>
                    <input type="text" name="quanhuyen" class="form-control" />
                </div>
                <div class="my-3">
                    <label>Tỉnh</label>
                    <input type="text" name="tinh" class="form-control" />
                </div>
                <div class="d-grid">
                    <input type="submit" value="Đăng ký" class="btn btn-info btn-block" />
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>