@model WebsiteThietBiDienTu.Models.Tintuc

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p class="px-2 text-center fw-bold fs-3">@Model.TieuDe</p>
            <img src="~/images/news/@Model.HinhAnh" width="100%" />
            <p class="py-2 fw-bold">@Model.TomTat</p>
            <p>@Model.NoiDung</p>
            <p class="py-md-2 text-md-left">Ngày đăng: @Model.NgayDang</p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>