@model WebsiteThietBiDienTu.Models.Sanpham

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/41.2.1/classic/ckeditor.js"></script>
    <script>
    ClassicEditor
        .create(document.querySelector('#txtMoTa'), {
            // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
        })
        .then(editor => {
            window.editor = editor;
        })
        .catch(err => {
            console.error(err.stack);
        });
    </script>
}
<h1>Chỉnh sửa</h1>

<h4>Sanpham</h4>
<hr />
<div class="row mx-auto">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaMh" />
            <div class="form-group">
                <label class="control-label">Tên sản phẩm</label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Giá gốc</label>
                <input asp-for="GiaGoc" class="form-control" />
                <span asp-validation-for="GiaGoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Giá bán</label>
                <input asp-for="GiaBan" class="form-control" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Số lượng</label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mô tả</label>
                <textarea id="txtMoTa" asp-for="MoTa" class="form-control" rows="4"></textarea>
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hình ảnh</label>
                <img width="100" class="img-thumbnail" src="~/images/products/@Html.DisplayFor(model => model.HinhAnh)" />
                <input type="hidden" asp-for="HinhAnh" class="form-control" />
                <input type="file" name="file" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Danh mục</label>
                <select asp-for="MaDm" class="form-control" asp-items="ViewBag.MaDm"></select>
                <span asp-validation-for="MaDm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Lượt xem</label>
                <input asp-for="LuotXem" class="form-control" />
                <span asp-validation-for="LuotXem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Lượt mua</label>
                <input asp-for="LuotMua" class="form-control" />
                <span asp-validation-for="LuotMua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mx-auto">
    <a asp-action="Index">Back to List</a>
</div>

